<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RentPay-Password Reset</title>
</head>
<body>
    
<p>You're receiving this email because you requested a password reset for your user account at RentPay.
</p>
<p>Please go to the following page and choose a new password: <br>
    {{reset_password_url}}</p>

<p>Thanks for using our site!</p>
<p>RentPay Team
</p>
<br>
<br>
<p>Powered by </p>
<img alt="rentpay_logo" class="" height="40px"
  src="https://production.kaps.co.ke:8003/static/images/logo.jpg" width="85px">
<p>All Rights Reserved.  •  <a href="https://rentpay.africa/legal/privacy-policy">Privacy Policy</a>  •  <a href="https://rentpay.africa/legal/terms-and-conditions">Terms of Use</a></p>

</body>
</html>

